.mat-stepper-horizontal {
  margin-top: 8px;
  margin-right: 5%;
  margin-left: auto;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


.mat-button {
  background-color: darkblue;
  color: white;
  margin: 2px;
}

/deep/ .mat-step-header .mat-step-icon-selected {
  background-color: darkblue;
}
