<div class = "container justify-content-center">
  <mat-stepper orientation="{{this.getScreenWidth < 700  ? 'vertical' : 'horizontal'}}" [linear]="true" #stepper  class = 'centered-stepper'>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter your Leetcode username</ng-template>
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput placeholder="Leetcode Username" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Enter you email address">
      <!-- #enddocregion label -->
      <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="abc@gmail.com"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)='createUser()'>Submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div *ngIf='this.nfycService.apiResponse'> {{this.nfycService.apiResponse}}</div>
      <div *ngIf='this.nfycService.errorMessage'> {{this.nfycService.errorMessage}}</div>
      <button mat-button (click)="stepper.reset(); resetSettings()">Reset</button>
    </mat-step>
  </mat-stepper>

  <div *ngIf='this.nfycService.isLoading'>
    <app-nfyc-progress-bar [nfycService] = "this.nfycService"></app-nfyc-progress-bar>
  </div>
</div>



