<div class = "container justify-content-center align-content-center mt-5">
  <div class = "row">
      <img style='max-height: 200px; object-fit: contain' src='../assets/homepage.png'/>
      <div class = "row">
        <br>
        <span style='text-align: center; font-size: large'><br>Subscribe to Leetcode Daily Challenge Email Alerts!
          <br>
          <br>
        </span>
        <p style='text-align: center;'>Receive daily email alerts reminding you if you haven't completed the challenge yet, helping you stay on track with your coding journey.</p>
      </div>
    </div>
  <div class = "row">
    <app-nfyc-stepper-form></app-nfyc-stepper-form>
  </div>
</div>
