<div class = "container justify-content-center mt-5">
  <div class = "row">
    <img style='max-height: 200px; object-fit: contain' src='../assets/homepage.png'/>
  </div>
    <div class = "row">
      <h1><br>Subscribe to Leetcode Daily Challenge Email Alerts!</h1>
      <p> We ensures that you never miss out on a single daily challenge.
        Receive daily email alerts reminding you to complete the challenge and stay on track with your coding journey.</p>
    </div>
  <div class = "row">
    <app-nfyc-stepper-form></app-nfyc-stepper-form>
  </div>
</div>
